.contentBox { margin:5% auto 0; width:1000px; }
/deep/ .el-avatar{background: #000;}
.fs14{font-size: 14px;}
.cpmpanyLogo{width: 48px; height: 48px}
.c59{color:#595959;}
.flex{display: flex}
.copmanyName{color:#262626;font-size: 22px;}
